dist

# Mac
.DS_Store

# VSCode
.vscode
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/aws.xml
/.idea/ChatHistory_schema_v3.xml
/.idea/mattermost-reactions.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/server/server
/bazel-bin/
/bazel-mattermost-reactions/
/bazel-out/
/bazel-testlogs/
